<div class="text-center">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        xml:space="preserve"
        viewBox="0 0 137 184.5"
        class="text-white w-32 h-auto mx-auto mb-4"
    >
        <g id="Layer_2">
            <path
                d="M137 113V81l-39 1-21-71L36 0l30 94h21v19l-64 17v54.5h54.9L78 137l-32 9v15l18-5v15H37v-30l50-14-.2 57.5h28l.2-13.5h-15v-48l37-10zM75 82 55 18l12 3 19 61H75zm24 28V94l26-1v11l-26 6zM0 108h19.9v19H0z"
                fill="currentColor"
            />
        </g>
    </svg>

    <h1 class="text-white text-4xl mb-2" href="/">White Rabbit Digital</h1>
    <a
        href="mailto:info@whiterabbitdigital.uk"
        class="text-white text-sm tracking-widest"
        >info@whiterabbitdigital.uk</a
    >
</div>
